<mat-card>
  <mat-card-header>
    <mat-card-title>Fire Base Sample Data</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onStateSubmit()" #templateStateForm="ngForm">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Please Enter States" value="" required [(ngModel)]="stateValue" name="state">
        </mat-form-field>
      </div>
      <div class="btn-group">
        <button type="submit" mat-flat-button [disabled]="templateStateForm.invalid">Save</button>
      </div>
    </form>

    <h2>States Data</h2>
    <div class="col-md-3">
      <pre *ngFor="let state of states | async">{{state.content}}</pre>
    </div>
  </mat-card-content>

  <mat-card-content>
    <form (ngSubmit)="onCitySubmit()" #templateCityForm="ngForm">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <div>
            <mat-select placeholder="Select States" [(ngModel)]="selectedState" name="state11" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let state of states | async" [value]="state">
                {{state.content}}
              </mat-option>
            </mat-select>
          </div>
        </mat-form-field>
        <br />
        <mat-form-field>
          <div>
            <input matInput placeholder="Please Enter City" value="" required [(ngModel)]="cityValue" name="city">
          </div>
        </mat-form-field>
      </div>
      <div class="btn-group">
        <button type="submit" mat-flat-button [disabled]="templateCityForm.invalid">Save</button>
      </div>
    </form>

    <h2>City Data</h2>
    <div class="col-md-3">
      <pre *ngFor="let city of cities | async">{{city.content}}</pre>
    </div>
  </mat-card-content>
</mat-card>